.contact-info {
  background-color: #333333; 
  color: white;
/*   font-family: 'Shadows Into Light', cursive; */
  font-size: 20px;
  padding: 20px;
  text-align: center;
  text-transform: none;
  min-height: 80px;
  margin-top: 20px;
}

.contact-info img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}

.phone {
  display: flex;
  justify-content: center;
  width: 100%; /* This ensures the div takes up the full width of its container */
}

.phone img {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}
