body #intro-pane.intro-pane-container {
  grid-template-columns: 1fr;
}

body #intro-pane.intro-pane {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align items to the top */
  align-items: flex-start; /* Align items to the left */
  background-color: #F8F8F8;
  padding: 20px;
  text-align: left; 
  overflow-wrap: break-word;
  position: relative;
  align-self: stretch;
}

body .intro-pane p,
.intro-pane p {
  line-height: 1.5;
  margin-bottom: 5px;
  word-wrap: break-word;
  flex: 1 1 100%; /* Adjust as needed */
  overflow-wrap: break-word;
}

p {
  margin: 0;
}

span {
  line-height: 0;
}
