:root {
  --left-pane-width: 240px;
}

body {
  background-color: #F8F8F8;
}

.container-logo {
  padding: 75px;
  position: relative;
  display: flex;
  justify-content: flex-start; /* Align items to the left */
  align-items: center;
  height: 90px;
}

.container-logo h1 {
  margin: 0;
  font-family: "Times New Roman", sans-serif;
}

.logo {
  position: absolute;
  width: 250px;
  height:50px;
  background-color: #608B00;
  padding: 20px 40px;
  border-radius: 50%;
  top: 120px;

  font-size: 40px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  text-align: center;
  transition: transform 0.3s ease-in-out; /* Adding a smooth transition effect */
}
.logo:hover {
  transform: rotate(360deg); /* Rotating the logo on hover */
}

.outer-circle {
  position: absolute;
  top: 90px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: orange;
  z-index: -1;
  text-align: center;
}

@media (max-width: 600px) {
  .container-logo {
    margin-left: 20px;
    padding-left: 20px
  }

  .logo {
    text-align: center;
  }

  .outer-circle {
    margin-left: 90px;
  }  
}

@media (min-width: 600px) {
  .container-logo {
    margin-left: var(--left-pane-width);
    padding-left: 20px;
  }

  .outer-circle {
    margin-left: 90px;
  }
}
