body {
  background-color: #F8F8F8;
}

.container-logo {
  padding: 0px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.container-logo h1 {
  margin: 0;
  font-family: "Times New Roman", sans-serif;
}

.logo {
  position: absolute;
  width: 250px;
  height:50px;
  background-color: #608B00;
  padding: 20px 40px;
  border-radius: 50%;
  top: 120px;
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.logo:hover {
  transform: rotate(360deg);
}

.outer-circle {
  position: absolute;
  top: 90px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: orange;
  z-index: -1;
  text-align: center;
  grid-template-columns: repeat(1, 1fr);
  left: 50%;
  transform: translateX(-50%);
}
