.outer-circle,
.text-menu {
  grid-template-columns: repeat(1, 1fr);
}

@media only screen and (max-width: 480px) {
  .phone {
     display: none;
  }  
}

@media only screen and (max-width: 768px) {
  .phone {
     display: none;
  }      
}

@media only screen and (min-width: 769px) {
  .outer-circle,
  .text-menu {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

@media only screen and (min-width: 1025px) {
  .outer-circle,
  .text-menu {
    max-width: 75%;
  }
}

@media print {
  .container-logo,
  #intro-pane,
  .main-pane,
  .intro-pane {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-top: 0;
  }
}
