body {
  font-family: 'Poppins', sans-serif;
}

.gray-strike {
  color: gray;
  text-decoration: line-through;
}

.main-pane, .intro-pane {
  background-color: #F8F8F8;
  margin-right: 20px;
  padding: 20px;
  padding-top: 40px;
  margin-left: 240px;
  text-align: justify;
}

.main-pane p, .intro-pane p {
  line-height: 1.5;
  margin-bottom: 20px;
  max-width: 900px;
  text-justify: inter-word;
  word-wrap: break-word;
}

.main-pane-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  align-self: stretch;
}

.language-dropdown {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.language-dropdown label {
  color: white;
  margin-right: 8px;
}

.language-dropdown select {
  padding: 4px 8px;
  font-size: 16px;
}

.menu-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-sizing: border-box;
}

.menu-card img {
  width: 100%;
  height: auto;
  margin: 0 auto;
  border-radius: inherit;
  box-shadow: inherit;
}

.menu-card:hover {
  transform: rotate(-5deg);
}

.menu-card h2 {
  margin: 10px 0;
  font-size: 20px;
}

.menu-card p {
  color: #666;
}
