:root {
  --left-pane-width: 240px;
}

.search-bar {
  position: absolute;
  top: 70px;
  right: 170px;
}

#search-input {
  padding: 5px;
  font-size: 16px;
}

@media only screen and (min-width: 360px) and (max-width: 768px) {
  .search-bar {
    top: 70px;
    right: 0px;
  }
}

@media only screen and (max-width: 600px) {
  .search-bar {
    top: 70px;
    right: 0px;
  }
}

/* Styles for tablets in landscape orientation */
@media only screen and (min-width: 769px) and (max-width: 1024px) and (orientation: landscape) {
  .search-bar {
    top: 70px;
    right: 0px;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1280px) and (orientation: landscape) {
  .search-bar {
    top: 70px;
    right: 0px;
  }
}

@media only screen and (min-width: 1281px) and (orientation: landscape) {
  .search-bar {
    top: 70px;
    right: 160px;
  }
}