.text-menu {
  margin-left: 5px;
  margin-right: 20px;
  column-gap: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  position: relative;
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-self: stretch;

  min-height: 200px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  break-inside: avoid;
  padding: 10px;
}

.text-menu .item-list {
  list-style-type: none;
  padding: 5px;
  margin: 0;
  background-color: rgba(255, 216, 92, 0.8);
  max-width: 100%;
}

.text-menu .item-list .item {
  margin-left: 25px;
  margin-bottom: 5px;
  line-height: 1.2;
  transition: transform 0.3s ease-in-out;
  transform: scale(1.1);
/*   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */ /* This makes each item appear individually raised and gives the overall look of a window blinds but doesn't look pretty */
  width: calc(100% - 60px); /* Subtracting the left and right margins */
}

.text-menu .item-list .item:hover,
.text-menu .item-list .item:active {
  transform: scale(1.1) !important;
  background-color: #f8f8f8 !important;
}

.text-menu .item-list .item .add-button {
  display: inline;
  margin-left: 10px;
  background-color: transparent;
  border: 1px solid transparent;
  color: transparent;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.text-menu .item-list .item:hover .add-button {
  color: gray;
  background-color: white;
  border-color: gray;
}

.text-menu .category {
  min-height: 200px;
  padding-bottom: 30px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  break-inside: avoid;
}

.text-menu .category.category-category1 {
  background-image: linear-gradient(to top, rgba(255, 215, 0, 1), rgba(255, 69, 0, 1));
}

.text-menu .category.category-category2 {
  background-image: linear-gradient(to top, rgba(238, 232, 170, 1), rgba(222, 184, 135, 1));
}

.text-menu .category.category-category3 {
  background-image: linear-gradient(to top, rgba(205, 133, 63, 1), rgba(160, 82, 45, 1));
}

.text-menu .category.category-category4 {
  background-image: linear-gradient(to top, rgba(255, 216, 92, 0.8), rgba(255, 101, 68, 1));
}

.text-menu .category.category-category5 {
  background-image: linear-gradient(to top, rgba(210, 105, 30, 1), rgba(139, 69, 19, 1));
}

.text-menu .category.category-category6 {
  background-image: linear-gradient(to top, rgba(50, 205, 50, 1), rgba(34, 139, 34, 1));
}

.text-menu .category.category-category7 {
  background-image: linear-gradient(to top, rgba(210, 105, 30, 1), rgba(139, 0, 0, 1));
}

.text-menu .category-title {
  margin-bottom: 10px;
  margin-left: 15px;
  color: #333333;
}

#dimensions-container {
  font-size: 14px;
  text-align: center;
}

#width,
#height {
  display: block;
}
