body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

.caption {
  font-weight: bold;
}

.top-bar {
  background-color: #333333;
  color: white;
  padding: 10px;
  display: grid;
  grid-template-columns: auto 1fr auto; /* Creates three "tracks" for items */
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  align-items: center; /* vertically aligns items in the center */
}

.top-bar h1 {
  margin: 0;
}

.top-bar a {
  color: white;
  margin-right: 20px;
  text-decoration: none;
}

.top-bar a:hover {
  text-decoration: underline;
}

.top-bar .caption {
  font-weight: bold;
}

/* Language drop-down*/
.right-menu {
  display: flex;
  gap: 10px;
  grid-column: 3;
}

.help-button a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  grid-column: 4;
}

.help-button a:hover {
  text-decoration: underline;
}

.search-bar {
  grid-column: 1;
}

#search-input {
  padding: 5px;
  font-size: 16px;
/*   width: 124.5px; */
  width: 105px;
}

.phone {
  grid-column: 2; /* Places the phone in the middle track */
  justify-self: center; /* Centers the phone within its track */
  display: flex;
  justify-content: center;
  width: 200px; /* Actual width of the phone number image */
}

.phone img {
  margin-left: auto;
  margin-right: auto;
}

