body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

.caption {
  font-weight: bold;
}

.top-bar {
  background-color: #333333;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;

  display: flex;
  justify-content: flex-start; /* aligns items to the start */
  align-items: center; /* vertically aligns items in the center */
}

.top-bar h1 {
  margin: 0;
}

.top-bar a {
  color: white;
  margin-right: 20px;
  text-decoration: none;
}

.top-bar a:hover {
  text-decoration: underline;
}

.top-bar .caption {
  font-weight: bold;
}


.right-menu {
  margin-left: auto; /* pushes the .right-menu container to the right */
  display: flex;
  gap: 10px;
}

.help-button a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.help-button a:hover {
  text-decoration: underline;
}


.search-bar {
  position: relative;
  right: 0px;
}

#search-input {
  padding: 5px;
  font-size: 16px;
  width: 50%;
}
